
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */
.banner{
  padding:100px 50px   100px 50px;
}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 4rem;
  line-height: 1.5;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #126e82;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {

  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 3%;
}

/* Title Image */

.title-image {
  background-size: cover;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #51c4d3;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #132c33;
}

/* information Section */

#information {

}

.information-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.information-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
/* prevention Section */

.images{
  width:500px;
}

/* status section*/
#status{
  padding: 100px 0 100px 0;
}

/* CTA Section */
#id{
  width: auto;
}

/* Footer Section */


.social-icon {
  margin: 20px 10px;
}
#myVideo{
  width: 100%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
